.ModalBackdrop {
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.Modal {
  position: relative;
  z-index: 11;
}

.Modal .ModalTitle {
  background-color: purple;
  color: #fff;
}